@charset "UTF-8";
.title {
	text-align: center;
	margin: 10px;
	padding: 10px;
	background-color: lightblue;
}
.box {
	margin: 15px;
	padding: 15px;
	background-color: lightgrey;
}
.home {
	margin-left: 110px;
}
.create {
	text-align: right;
	margin: 20px;
}